/* Estilo para el footer pegajoso */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

.footer {
    text-align: center;
    padding: 1em 0;
}

/* Estilo para los cards de los repositorios */
.card {
    margin: 1em 0;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
